.logo {
  height: 100%;
  width: 20%;
  font-family: 'Slackey', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.avatar {
  height: 100%;
  width: 20%;
  font-family: 'Slackey', cursive;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
}

.button-list {
  height: 100%;
  width: 60%;
  font-family: 'Slackey', cursive;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-header-image {
  background-color: white;
  background-size: cover;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.button {
  margin: 16px;
  font-family: 'Slackey', cursive;
}
