<div class="logo">
  <span style="font-size: 24px">Confessional</span>
  <span style="margin-left: 50px">The truth will set you free..</span>
</div>
<div class="button-list">
  <button mat-button class="button">Feed</button>
  <button mat-button class="button">Most Popular</button>
  <button mat-button class="button">Best Voted</button>
  <button mat-button class="button">Worst Voted</button>
  <button (click)="openDialog()" mat-button class="button" mat-raised-button color="accent">Confess</button>
</div>
<div class="avatar">
  <div mat-card-avatar class="example-header-image"></div>
  <span>eightman0</span>
</div>
