<h2 mat-dialog-title>Confess</h2>

<mat-dialog-content>
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="What troubles you, my child ?"
              style="height: 220px;resize: none;font-size: 18px;color: black;"
              maxlength="500"
              [(ngModel)]="confessContent"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onNoClick()">Close</button>
  <button class="mat-raised-button" style="background-color: #296E8D;color: white" (click)="onConfessClick()">Confess
  </button>
</mat-dialog-actions>
