<div style="height: 100%;width: 20%;"></div>

<div style="height: 100%;width: 60%;padding: 16px">
  <div style="margin-bottom: 5px" *ngFor="let confession of confessions | async">
  <app-confess-item [confession]="confession"></app-confess-item>
</div>
</div>

<div style="height: 100%;width: 20%"></div>
