.header {
  background-color: #296E8D;
  color: white;
  font-family: 'Slackey', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  min-height: 60px;
  min-width: 100%;
}

.footer {
  background-color: #296E8D;
  color: white;
  font-family: 'Slackey', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
}

.wrapper {
  height: 86%;
  margin: 0 auto;
  background-color: #004360;
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
}
