<mat-card style="background-color: #296E8D;color: white;font-family: 'Roboto', cursive">
  <mat-card-header>
    {{confession.confession}}
  </mat-card-header>
  <mat-card-actions style="margin-top: 16px">
    <button mat-button (click)="toggleComments()">
      <mat-icon style="margin-right: 16px">chat</mat-icon>
      {{ numOfComments}}
    </button>
    <button mat-button>
      <mat-icon style="margin-right: 16px">thumb_up</mat-icon>
      {{ numOfUpVotes }}
    </button>
    <button mat-button>
      <mat-icon style="margin-right: 16px">thumb_down</mat-icon>
      {{ numOfDownVotes }}
    </button>
    <button mat-button>
      <mat-icon style="margin-right: 16px">visibility</mat-icon>
      {{ confession.numOfViews}}
    </button>

    <button mat-button>
      <mat-icon style="margin-right: 16px">access_time</mat-icon>
        {{ transformDate()}}
    </button>
  </mat-card-actions>

  <div *ngIf="shouldShowComments">
    <mat-card style="margin-bottom: 5px" *ngFor="let comment of comments | async">
      <mat-card-title>Anonymous</mat-card-title>
      <mat-card-subtitle>{{ comment.content }}</mat-card-subtitle>

      <button mat-button>
        <mat-icon style="margin-right: 16px">chat</mat-icon>
        35 Comments
      </button>
      <button mat-button>
        <mat-icon style="margin-right: 16px">thumb_up</mat-icon>
        44
      </button>
      <button mat-button>
        <mat-icon style="margin-right: 16px">thumb_down</mat-icon>
        13
      </button>
      <button style="position: absolute; bottom: 5px;right: 5px" mat-button>
        <mat-icon style="margin-right: 16px">access_time</mat-icon>
        3h ago
      </button>
    </mat-card>
  </div>
</mat-card>
