/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Slackey');

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
